<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.jieba.demo.test">

  <application>

    <!-- TODO remove once androidx.test has explicit android:exported -->
    <activity
      android:exported="false"
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
      android:theme="@android:style/Theme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity
      android:exported="false"
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
      android:theme="@android:style/Theme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity
      android:exported="false"
      android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
      android:theme="@android:style/Theme.Dialog">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
  </application>
</manifest>